.tab{
    font-size: 65%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(152, 152, 152)
}
.tab > .col{
    height: 100%;
    margin-top: 6%;
    border-right: 1px solid rgb(234, 238, 239);
    /* border-bottom: 2px solid orange; */
}
.tab > #three{
    border-right-width: 0px;
}
.tab > .col > div{
    margin-top: 4%;
    /* margin-left: 20%; */
}
